{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="container">
        {{ form_start(form, {'attr':{'class':'form-inline'}}) }}
        <div class="form-group">
            {{ form_label(form.date) }}
            {{ form_widget(form.date, {'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}