{% extends '@App/base.html.twig' %}

{% block title %}
    Réunion du {{ meeting.date|date("d/m/Y") }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/Meeting/manage-points.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Ordre du jour</h1>
        </div>
        <div class="row d-flex justify-content-end" style="margin-bottom: 10px;">
            <a id="add-point-link" class="btn btn-primary" href="">Nouveau point</a>
        </div>

    {{ form_start(form) }}
    <ul class="points">
        {% for point in form.points %}
            <li>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xl-11 col-sm-11">
                               <div class="visible point-title">
                                    {{ point.title.vars.value }}
                                </div>
                                {{ form_row(point.title, {'attr': {'class': 'form-control point-input-title hidden'}}) }}
                            </div>
                            <div class="col text-right">
                                <a href="#" class="remove-point"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="visible point-report">
                            {{ point.report.vars.value }}
                        </div>
                        {{ form_row(point.report, {'attr': {'class':'form-control point-input-report hidden'}}) }}
                    </div>
                </div>

            </li>
        {% endfor %}

    </ul>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jquery-timeago.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery-timeago-fr.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/Meeting/manage-point.js') }}"></script>
{% endblock %}